[req]
default_bits        = 2048
default_keyfile     = docker-registry.key
distinguished_name  = subject
prompt              = no
encrypt_key         = no

[subject]
countryName=CN
stateOrProvinceName=Sichuan
localityName=Chengdu
organizationName=ThoughtWorks
organizationalUnitName=IT OF TW
emailAddress=cert@io.comx
commonName=docker-registry.192-168-33-10.nip.io

[ alt_names ]
DNS.1 = docker-registry.default.svc.cluster.local
IP.1  = 192.168.33.10

[ v3_ext ]
authorityKeyIdentifier=keyid,issuer:always
basicConstraints=CA:FALSE
keyUsage=keyEncipherment,dataEncipherment
extendedKeyUsage=serverAuth,clientAuth
